{% extends 'base.html.twig' %}

{% block header %}
    <div class="jumbotron">
        <h1 class="display-4">Adding a new task to the to do list!</h1>
        <p class="lead">Fill in the form bellow.</p>
        <hr class="my-4">
    </div>
{% endblock %}

{% block body %}
    <form method="POST" id="taskForm">
        <label for="username">Your name</label>
        <input class="form-control" type="text" placeholder="Your name" name="username">
        <label for="title">Task name</label>
        <input class="form-control" type="text" placeholder="Task name" name="title">
        <div class="form-group">
            <label for="description">Task Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
        </div>
        <button class="btn btn-success" type="submit"><i class="fas fa-plus fa-2x"></i></button>
    </form>
{% endblock %}